<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://unpkg.com/vue@2.4.2/dist/vue.min.js"></script>
  <script src="https://unpkg.com/vue-router@2.7.0/dist/vue-router.min.js"></script>
  <script src="./src/index.js" defer></script>
</head>
<body>

<div id="container">
  <main>
    <div id="app"></div>
  </main>
</div>

<template id="book-list">
  <section>
    <form>
      <input type="search" v-model="searchTitle" placeholder="title">
    </form>
    <ul>
      <li v-for="{id,title,price} in filterBooks">
        <router-link :to="{name: 'book', params: {book_id: id}}">{{id}}:{{title}}@{{price}}</router-link>
      </li>
    </ul>
  </section>
</template>

<template id="book-ref">
  <section>
    <h2>{{book.title}}</h2>
    <h4>価格：{{book.price}}</h4>
    <router-link :to="{name: 'books'}">Back to Book List</router-link>
  </section>
</template>

</body>
</html>
